header.home {
  /* background: black; */
  background-image: url("../images/codeBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px 10px;
}

section.home-content {
  /* border-radius: 20px;
  padding: 20px 10px; */
  margin: 0;
  border-radius: 0px;
  /* background: #FFFFFF; */
  /* border: 2px solid green; */
}
