header.home {
  background-image: url("../images/codeBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20vh 10px;
  background-position: center;

}

section.home-content {
  margin: 0;
  border-radius: 0px;
}


@media screen and (max-width: 600px) {
  header.home {
    padding: 20vh 5px;
  }
  header.home h1 {
    font-size: 300%;
  }
}
