html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: exo
}

body {
  background-color: #ffffff;
  color: black;
}

header {

}

header.home {
  /* background: black; */
  background-image: url("../images/codeBackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px;
}

header p {
  margin: 0 20%;
}

h1 {
  text-align: center;
  margin: 10px;
  margin-left: 20px;
  color: black;
  /*font-family: "Georgia", serif;*/
  /* font-weight: lighter; */
  /* font-variation-settings: 'wght' 10; */
  font-size: 400%;
}

h2 {
  margin: 10px, 20px;
  font-size: 250%;
}

h3 {
  margin: 10px, 20px;
}

p {
  /* margin: 10px; */
  /* color: white; */
  font-size: 150%;
  /*text-align: center;*/

}

a {
  /* color: white; */
}

/* a.anchor {
  position: relative;
  top: -90px;
  display: block;
  visibility: hidden;
} */

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:1;
}

ul.head {
  list-style-type: none;
  overflow: hidden;
  background-color: hsl(202, 33%, 65%);
  width: 100%;
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
  padding-left: 10%;
}

ul.head li {
  float: left;
}

ul.head li a {
  display: block;
  padding: 30px 20px;
  color: black;
  text-decoration: none;
  transition-duration: 0.4s;
}

ul.head li a:hover {
  background-color: hsl(203, 61%, 50%);
  color: black;
}

ul.head li a.active {
  background-color: #222;
  color: white;
}

ul.head li img.logo {
  /* position: absolute; */
  display: block;
  padding: 10px 20px;
  transition-duration: 0.4s;
  width: 100px;
}

ul.head li img.logo:hover {
  background-color: hsl(203, 61%, 50%);
  cursor: pointer;
}

ol {
  margin-left: 30px;
}

p.large {
  font-size: 200%;
}

p.thick {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

div {
  /* max-width: 200px; */
  /* height: 50px; */
  /* border: 2px solid black; */
  /* margin: auto; */
  /* border: 2px solid white; */
}

div.right {
  margin: 0 0 0 50%;
  /* border: 2px solid black; */
}

div.left {
  margin: 0 50% 0 0;
  /* border: 2px solid black; */
}

div.video-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
  align-items: center;
}

div.video-box {
  display: flex;
  /* align-items: center; */
  flex-direction: ltr;
  justify-content: space-evenly;
  margin: 1%;
  width: 80%;
  /* height: 300px; */
  /* border: 2px solid red; */
}

div.player {
  /* border: 2px solid white; */
  display: block;
  width: 60%;
  float: left;
  /* float: left; */
  /* height:; set with js */
}

div.description {
  /* border: 2px solid white; */
  width: 40%;
  /* text-align: left; */
  /* display: block; */
  float: left;
  padding: 10px;
}

div.button-container {
  text-align: center;
  margin-bottom: 40px;
}

section.content {
  margin: 20px 15%;
}

section.cube-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.video-set {
  margin: 5% 0;
  background: #bdbdbd;
  padding: 20px 10px;
  display: block;
  border-radius: 20px;
}

section.video-set h3 {
  /* text-align: center; */
  font-size: 200%;
  margin-left: 5%;
}

section.content p {
  margin: 10px;
}

section.content ul {
  margin: 20px 50px;
}
section.content ul li {
  margin: 10px 0px;
}

section.java-content {
  background: #bdbdbd;
  border-radius: 20px;
}

.totalHours {
  text-align: center;
}

.video {
  width:100%;
  height:100%;
}

.calendar {
  width:100%;
  height:100%;
}

footer {
  background-color: #bdbdbd;
  padding: 50px;
}

footer * {
  margin: 10px;
}


/*FONTS*/
@font-face {
  font-family: exo;
  src: url(../fonts/Exo-VariableFont_wght.ttf);
  font-style: normal;
}

font-face {
  font-family: exo;
  src: url(../fonts/Exo-VariableFont_wght.ttf);
  font-style: italic;
}

/* https://www.color-hex.com/color-palette/30415 (website for cool blue colors) */
