* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: exo
}

h1 {
	margin: 10px;
	margin-left: 20px;
	/*font-family: "Georgia", serif;*/
  font-weight: 600;
  font-size: 300%;
}

h2 {
  font-weight: 300;
}

p {
	margin: 10px;
  color: blue;
  /*text-align: center;*/
}

ul {
	list-style-type: none;
  overflow: hidden;
  background-color: #555;
  width: 100%;
  position: -webkit-sticky;
	position: sticky;  	
	top: 0;
}

ul li {
	float: left;
}

ul li a {
	display: block;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

ul li a:hover {
  background-color: red;
  
}

ul li a.active {
  background-color: #222;
  color: white;
}

p.large {
  font-size: 200%;
}

p.thick {
	font-weight: bold;
}

p.italic {
	font-style: italic;
}


div {
//max-width: 200px;
  height: 50px;
  border: 2px solid red;
  margin: auto;
}


/*FONTS*/
@font-face {
  font-family: exo;
  src: url(fonts/Exo-VariableFont_wght.ttf);
  font-style: normal;
}

font-face {
  font-family: exo;
  src: url(fonts/Exo-VariableFont_wght.ttf);
  font-style: italic;
}
