* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: exo
}

body {
  background-color: #0d2636;
  color: white;
}

h1 {
  margin: 10px;
  margin-left: 20px;
  /*font-family: "Georgia", serif;*/
  font-weight: lighter;
  font-variation-settings: 'wght' 10;
  font-size: 300%;
}

h2 {
  font-weight: 300;
}

p {
  margin: 10px;
  /* color: white; */
  /*text-align: center;*/
}

a {
  color: white;
}

ul.head {
  list-style-type: none;
  overflow: hidden;
  background-color: hsl(203, 61%, 20%);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-left: 10%;
}

ul.head li {
  float: left;
}

ul.head li a {
  display: block;
  padding: 30px 20px;
  color: white;
  text-decoration: none;
  transition-duration: 0.4s;
}

ul.head li a:hover {
  background-color: hsl(203, 61%, 50%);
  color: black;
}

ul.head li a.active {
  background-color: #222;
  color: white;
}

ol {
  margin-left: 30px;
}

p.large {
  font-size: 200%;
}

p.thick {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

div {
  //max-width: 200px;
  height: 50px;
  /* border: 2px solid black; */
  margin: auto;
}

.button {
  background-color: white;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black;
  color: white;
}

.button-rounded {
  border-radius: 20px;
}

.button-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-group .button {
  background-color: black;
  color: white;
  border: none;
  float: left;
  cursor: pointer;
}

.btn-group .button:hover {
  background-color: red;
  color: black;
  border: none;
  float: left;
}

.btn-group .button.active {
  background-color: #F00;
  color: white;
  cursor: default;
}

/*FONTS*/
@font-face {
  font-family: exo;
  src: url(fonts/Exo-VariableFont_wght.ttf);
  font-style: normal;
}

font-face {
  font-family: exo;
  src: url(fonts/Exo-VariableFont_wght.ttf);
  font-style: italic;
}

/* https://www.color-hex.com/color-palette/30415 (website for cool blue colors) */
